# ETL Y EDA INVOICE PURCHASES 2016

In [1]:
#Importamos las librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Cargamos el archivo csv y nombramos dataset
InvoicePurchases =pd.read_csv("InvoicePurchases12312016.csv")

In [3]:
#Informacion el dataset
InvoicePurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [17]:
#Primeras filas
InvoicePurchases.head()

,VendorNumber,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight
0,105,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47
1,4466,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57
2,388,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61
3,480,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20
4,516,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20

In [6]:
#Verificamos la cantidad de datos nulos por columna
print(InvoicePurchases.isnull().sum())

VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [10]:
# Cambiar el tipo de dato de las columnas de fecha 

InvoicePurchases['InvoiceDate']=pd.to_datetime(InvoicePurchases['InvoiceDate'])
InvoicePurchases['PODate']=pd.to_datetime(InvoicePurchases['PODate'])
InvoicePurchases['PayDate']=pd.to_datetime(InvoicePurchases['PayDate'])

In [7]:
#Averiguamos si existen filas duplicadas
filas_duplicadas = InvoicePurchases.duplicated()

#Hacemos el recuento de las filas duplicadas
contar_filas_duplicadas = filas_duplicadas.sum()

#Mostramos el número de filas duplicadas
print(f'Número de filas duplicadas en la tabla de factura_compras: {contar_filas_duplicadas}')

#Mostramos las filas filas duplicadas 
if contar_filas_duplicadas > 0:
    print("Filas duplicadas en la tabla Producto:")
    print(InvoicePurchases[filas_duplicadas])

Número de filas duplicadas en la tabla de factura_compras: 0

In [8]:
#Verificamos solo las columnas numericas con valores negativos 
negativos = InvoicePurchases.select_dtypes(include=['number']) < 0

# Obtenemos los nombres de las columnas que tienen valores negativos
columnas_negativas = negativos.any()

# Filtramos las columnas que tienen al menos un valor negativo
columnas_con_negativos = columnas_negativas[columnas_negativas].index.tolist()

# Imprimimos los resultados
if columnas_con_negativos:
    print(f"Columnas con valores negativos: {columnas_con_negativos}")
    for column in columnas_con_negativos:
        print(f"\nValores negativos en la columna '{column}':")
        print(InvoicePurchases[InvoicePurchases[column] < 0]) # muestra las filas negativas
else:
    print("No hay valores negativos en el Dataframe.")

No hay valores negativos en el Dataframe.

In [11]:
#Se borra la columna Approval para alivianar la base, Las facturas ya estan emitidas 
del InvoicePurchases['Approval']

In [12]:
#Verificamos las filas con valores nulos
Compras_filas_nulas = InvoicePurchases.isnull().any(axis=1)

#Mostramos las filas con valores nulos
Compras_filas_con_nulos = InvoicePurchases [Compras_filas_nulas]

#Imprimimos las filas con valores nulos
if not Compras_filas_con_nulos.empty:
    print("Filas con valores nulos encontradas:")
    print(Compras_filas_con_nulos)
else:
    print("No se encontraron filas con valores nulos.")

No se encontraron filas con valores nulos.

In [13]:
InvoicePurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(3), object(1)
memory usage: 389.9+ KB

In [14]:
#Estadisticas de cada columna
for i in InvoicePurchases.columns:
    print(i)
    #Esto imprime las estadísticas descriptivas (como count, mean, std, min, 25%, 50%, 75%, max) para esa columna.
    print(InvoicePurchases[i].describe())
    print('--------------------------------------------------------------')

VendorNumber
count      5543.00000
mean      20662.75212
std       34582.15841
min           2.00000
25%        3089.00000
50%        7240.00000
75%       10754.00000
max      201359.00000
Name: VendorNumber, dtype: float64
--------------------------------------------------------------
VendorName
count                            5543
unique                            129
top       AMERICAN VINTAGE BEVERAGE
freq                               55
Name: VendorName, dtype: object
--------------------------------------------------------------
InvoiceDate
count                             5543
mean     2016-07-10 18:59:25.578206720
min                2016-01-04 00:00:00
25%                2016-04-11 00:00:00
50%                2016-07-11 00:00:00
75%                2016-10-09 00:00:00
max                2017-01-10 00:00:00
Name: InvoiceDate, dtype: object
--------------------------------------------------------------
PONumber
count     5543.000000
mean     10889.419087
std       1600.859969
min       8106.000000
25%       9503.500000
50%      10890.000000
75%      12275.500000
max      13661.000000
Name: PONumber, dtype: float64
--------------------------------------------------------------
PODate
count                             5543
mean     2016-06-24 08:48:08.832762112
min                2015-12-20 00:00:00
25%                2016-03-24 12:00:00
50%                2016-06-25 00:00:00
75%                2016-09-23 00:00:00
max                2016-12-23 00:00:00
Name: PODate, dtype: object
--------------------------------------------------------------
PayDate
count                          5543
mean     2016-08-15 06:14:05.607072
min             2016-02-04 00:00:00
25%             2016-05-16 00:00:00
50%             2016-08-15 00:00:00
75%             2016-11-14 00:00:00
max             2017-02-19 00:00:00
Name: PayDate, dtype: object
--------------------------------------------------------------
Quantity
count      5543.000000
mean       6058.880931
std       14453.338164
min           1.000000
25%          83.000000
50%         423.000000
75%        5100.500000
max      141660.000000
Name: Quantity, dtype: float64
--------------------------------------------------------------
Dollars
count    5.543000e+03
mean     5.807338e+04
std      1.402340e+05
min      4.140000e+00
25%      9.678100e+02
50%      4.765450e+03
75%      4.458718e+04
max      1.660436e+06
Name: Dollars, dtype: float64
--------------------------------------------------------------
Freight
count    5543.000000
mean      295.954301
std       713.585093
min         0.020000
25%         5.020000
50%        24.730000
75%       229.660000
max      8468.220000
Name: Freight, dtype: float64
--------------------------------------------------------------

In [15]:
#Aqui se volvio a decicir borrar la columna VendorName ya que existe VendorNumber y se puede identificar con esto
del InvoicePurchases['VendorName']

In [16]:
#El archivo limpio y filtrado
InvoicePurchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   InvoiceDate   5543 non-null   datetime64[ns]
 2   PONumber      5543 non-null   int64
 3   PODate        5543 non-null   datetime64[ns]
 4   PayDate       5543 non-null   datetime64[ns]
 5   Quantity      5543 non-null   int64
 6   Dollars       5543 non-null   float64
 7   Freight       5543 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(3)
memory usage: 346.6 KB

In [19]:
#Renombramos, Guardamos el dataframe en tipo csv y listo para normalizar.
InvoicePurchases = InvoicePurchases.rename(columns={
    'VendorNumber':'VendorID',
    'InvoiceDate': 'InvoiceDate',
    'PONumber': 'PONumber',
    'PODate': 'PODate',
    'PayDate': 'PayDate',
    'Quantity': 'Quantity',
    'Dollars': 'Price',
    'Freight': 'Freight'
    })
InvoicePurchases.info()
InvoicePurchases.to_csv (r"C:\Users\Admin\Desktop\proyecto final\Proceso\CSV listos\InvoicePurchases.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   VendorID     5543 non-null   int64
 1   InvoiceDate  5543 non-null   datetime64[ns]
 2   PONumber     5543 non-null   int64
 3   PODate       5543 non-null   datetime64[ns]
 4   PayDate      5543 non-null   datetime64[ns]
 5   Quantity     5543 non-null   int64
 6   Price        5543 non-null   float64
 7   Freight      5543 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(3)
memory usage: 346.6 KB