In [1]:
#Carga de Librerias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import os

In [2]:
inv_purchases_2016 = pd.read_csv("InvoicePurchases12312016.csv")

In [9]:
inv_purchases_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(3), object(1)
memory usage: 389.9+ KB

In [6]:
#Convertir PODate, PayDate, InvoiceDate en formato fecha
inv_purchases_2016['InvoiceDate'] = pd.to_datetime(inv_purchases_2016['InvoiceDate'])
inv_purchases_2016['PODate'] = pd.to_datetime(inv_purchases_2016['PODate'])
inv_purchases_2016['PayDate'] = pd.to_datetime(inv_purchases_2016['PayDate'])

In [8]:
#Borrar la columna approval, creo que es incesesaria 
del inv_purchases_2016['Approval']

In [12]:
#Estadisticas de cada columna
for i in inv_purchases_2016.columns:
    print(i)
    #Esto imprime las estad√≠sticas descriptivas (como count, mean, std, min, 25%, 50%, 75%, max) para esa columna.
    print(inv_purchases_2016[i].describe())
    print('--------------------------------------------------------------')

VendorNumber
count      5543.00000
mean      20662.75212
std       34582.15841
min           2.00000
25%        3089.00000
50%        7240.00000
75%       10754.00000
max      201359.00000
Name: VendorNumber, dtype: float64
--------------------------------------------------------------
VendorName
count                            5543
unique                            129
top       AMERICAN VINTAGE BEVERAGE
freq                               55
Name: VendorName, dtype: object
--------------------------------------------------------------
InvoiceDate
count                             5543
mean     2016-07-10 18:59:25.578206720
min                2016-01-04 00:00:00
25%                2016-04-11 00:00:00
50%                2016-07-11 00:00:00
75%                2016-10-09 00:00:00
max                2017-01-10 00:00:00
Name: InvoiceDate, dtype: object
--------------------------------------------------------------
PONumber
count     5543.000000
mean     10889.419087
std       1600.859969
min       8106.000000
25%       9503.500000
50%      10890.000000
75%      12275.500000
max      13661.000000
Name: PONumber, dtype: float64
--------------------------------------------------------------
PODate
count                             5543
mean     2016-06-24 08:48:08.832762112
min                2015-12-20 00:00:00
25%                2016-03-24 12:00:00
50%                2016-06-25 00:00:00
75%                2016-09-23 00:00:00
max                2016-12-23 00:00:00
Name: PODate, dtype: object
--------------------------------------------------------------
PayDate
count                          5543
mean     2016-08-15 06:14:05.607072
min             2016-02-04 00:00:00
25%             2016-05-16 00:00:00
50%             2016-08-15 00:00:00
75%             2016-11-14 00:00:00
max             2017-02-19 00:00:00
Name: PayDate, dtype: object
--------------------------------------------------------------
Quantity
count      5543.000000
mean       6058.880931
std       14453.338164
min           1.000000
25%          83.000000
50%         423.000000
75%        5100.500000
max      141660.000000
Name: Quantity, dtype: float64
--------------------------------------------------------------
Dollars
count    5.543000e+03
mean     5.807338e+04
std      1.402340e+05
min      4.140000e+00
25%      9.678100e+02
50%      4.765450e+03
75%      4.458718e+04
max      1.660436e+06
Name: Dollars, dtype: float64
--------------------------------------------------------------
Freight
count    5543.000000
mean      295.954301
std       713.585093
min         0.020000
25%         5.020000
50%        24.730000
75%       229.660000
max      8468.220000
Name: Freight, dtype: float64
--------------------------------------------------------------

In [13]:
inv_purchases_2016.to_csv("Invoice_purchases_2016.csv")