In [1]:
#Carga de Librerias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import os

In [2]:
Purchases_2016 = pd.read_csv("PurchasesFINAL12312016.csv")

In [5]:
Purchases_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          datetime64[ns]
 9   ReceivingDate   datetime64[ns]
 10  InvoiceDate     datetime64[ns]
 11  PayDate         datetime64[ns]
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: datetime64[ns](4), float64(2), int64(6), object(4)
memory usage: 289.6+ MB

In [4]:
#Convertir PODate, RecevingDate, InvoiceDate, PayDate en formato fecha

Purchases_2016['PODate'] = pd.to_datetime(Purchases_2016['PODate'])
Purchases_2016['ReceivingDate'] = pd.to_datetime(Purchases_2016['ReceivingDate'])
Purchases_2016['InvoiceDate'] = pd.to_datetime(Purchases_2016['InvoiceDate'])
Purchases_2016['PayDate'] = pd.to_datetime(Purchases_2016['PayDate'])

In [12]:
#Estadisticas de cada columna
for i in Purchases_2016.columns:
    print(i)
    #Esto imprime las estadísticas descriptivas (como count, mean, std, min, 25%, 50%, 75%, max) para esa columna.
    print(Purchases_2016[i].describe())
    print('--------------------------------------------------------------')

InventoryId
count               2324824
unique               241510
top       73_DONCASTER_8068
freq                    180
Name: InventoryId, dtype: object
--------------------------------------------------------------
Store
count    2.324824e+06
mean     4.471684e+01
std      2.348514e+01
min      1.000000e+00
25%      2.500000e+01
50%      4.800000e+01
75%      6.700000e+01
max      8.100000e+01
Name: Store, dtype: float64
--------------------------------------------------------------
Brand
count    2.324824e+06
mean     1.263551e+04
std      1.257689e+04
min      5.800000e+01
25%      3.696000e+03
50%      6.579000e+03
75%      1.927000e+04
max      9.063100e+04
Name: Brand, dtype: float64
--------------------------------------------------------------
Description
count                   2324824
unique                     9425
top       Tito's Handmade Vodka
freq                      14081
Name: Description, dtype: object
--------------------------------------------------------------
VendorNumber
count    2.324824e+06
mean     6.883554e+03
std      8.050317e+03
min      2.000000e+00
25%      3.252000e+03
50%      4.425000e+03
75%      9.552000e+03
max      1.733570e+05
Name: VendorNumber, dtype: float64
--------------------------------------------------------------
VendorName
count                         2324824
unique                            127
top       DIAGEO NORTH AMERICA INC
freq                           236005
Name: VendorName, dtype: object
--------------------------------------------------------------
PONumber
count    2.324824e+06
mean     1.104165e+04
std      1.565188e+03
min      8.106000e+03
25%      9.761000e+03
50%      1.110300e+04
75%      1.239700e+04
max      1.366100e+04
Name: PONumber, dtype: float64
--------------------------------------------------------------
PODate
count                          2324824
mean     2016-07-04 14:39:46.480526080
min                2015-12-20 00:00:00
25%                2016-04-12 00:00:00
50%                2016-07-07 00:00:00
75%                2016-09-30 00:00:00
max                2016-12-23 00:00:00
Name: PODate, dtype: object
--------------------------------------------------------------
ReceivingDate
count                          2324824
mean     2016-07-12 05:34:00.705705728
min                2016-01-01 00:00:00
25%                2016-04-20 00:00:00
50%                2016-07-15 00:00:00
75%                2016-10-07 00:00:00
max                2016-12-31 00:00:00
Name: ReceivingDate, dtype: object
--------------------------------------------------------------
InvoiceDate
count                          2324824
mean     2016-07-21 02:25:56.085793280
min                2016-01-04 00:00:00
25%                2016-04-29 00:00:00
50%                2016-07-25 00:00:00
75%                2016-10-17 00:00:00
max                2017-01-10 00:00:00
Name: InvoiceDate, dtype: object
--------------------------------------------------------------
PayDate
count                          2324824
mean     2016-08-25 18:21:03.245045760
min                2016-02-04 00:00:00
25%                2016-06-02 00:00:00
50%                2016-08-29 00:00:00
75%                2016-11-24 00:00:00
max                2017-02-19 00:00:00
Name: PayDate, dtype: object
--------------------------------------------------------------
PurchasePrice
count    2.324824e+06
mean     1.198077e+01
std      1.745649e+01
min      0.000000e+00
25%      6.120000e+00
50%      9.080000e+00
75%      1.428000e+01
max      5.681810e+03
Name: PurchasePrice, dtype: float64
--------------------------------------------------------------
Quantity
count    2.324824e+06
mean     1.417846e+01
std      2.346125e+01
min      1.000000e+00
25%      6.000000e+00
50%      1.000000e+01
75%      1.200000e+01
max      3.816000e+03
Name: Quantity, dtype: float64
--------------------------------------------------------------
Dollars
count    2.324824e+06
mean     1.345327e+02
std      2.772867e+02
min      0.000000e+00
25%      4.884000e+01
50%      8.280000e+01
75%      1.383600e+02
max      5.017570e+04
Name: Dollars, dtype: float64
--------------------------------------------------------------
Classification
count    2.324824e+06
mean     1.451961e+00
std      4.976870e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      2.000000e+00
Name: Classification, dtype: float64
--------------------------------------------------------------
Size_ml
count    2.324824e+06
mean     1.205367e+03
std      8.486386e+02
min      5.000000e+01
25%      7.500000e+02
50%      7.500000e+02
75%      1.750000e+03
max      2.000000e+04
Name: Size_ml, dtype: float64
--------------------------------------------------------------

In [7]:
import re

def convertir_a_ml(size):
    # Expresión regular para extraer el número principal, unidad y posibles cantidades de paquetes
    match = re.match(r"(\d+(\.\d+)?)\s*(mL|L|liter|oz)?(?:\s*(\d+)?\s*Pk)?", str(size), re.IGNORECASE)
    
    if match:
        valor = float(match.group(1))  # Valor numérico principal
        unidad = match.group(3).lower() if match.group(3) else ''  # Unidad de medida
        cantidad_pk = int(match.group(4)) if match.group(4) else 1  # Cantidad en el paquete, por defecto 1
        
        # Convertir a mililitros según la unidad
        if unidad in ['l', 'liter']:
            return valor * 1000 * cantidad_pk  # Convertir litros a mililitros y multiplicar por cantidad
        elif unidad == 'oz':
            return valor * 29.5735 * cantidad_pk  # Convertir onzas a mililitros y multiplicar por cantidad
        elif unidad == 'ml':
            return valor * cantidad_pk  # Ya está en mililitros, multiplicar por cantidad
    return None

# Aplicar la función a la columna 'Size' para crear la columna 'Size_ml' en mL
Purchases_2016['Size_ml'] = Purchases_2016['Size'].apply(convertir_a_ml)

# Verificar el resultado
print(Purchases_2016[['Size', 'Size_ml']].head(10))

    Size  Size_ml
0  750mL    750.0
1  1.75L   1750.0
2  1.75L   1750.0
3  1.75L   1750.0
4  750mL    750.0
5  1.75L   1750.0
6  750mL    750.0
7  200mL    200.0
8  750mL    750.0
9  1.75L   1750.0

In [8]:
print(Purchases_2016['Size_ml'].unique())

[  750.      1750.       200.      1500.        50.            nan
   375.       100.      3000.       748.      1000.       500.
   187.       400.      5000.      4000.       561.       250.
   180.       800.       147.8675 18000.       300.       720.
   150.       330.      2250.       600.      1125.       650.617
  6000.     20000.       374.     19500.      4500.      9000.    ]

In [9]:
# Eliminar filas donde 'Size_ml' tiene valores NaN
Purchases_2016 = Purchases_2016.dropna(subset=['Size_ml'])

# Verificar el resultado
print(Purchases_2016['Size_ml'].unique())

[  750.      1750.       200.      1500.        50.       375.
   100.      3000.       748.      1000.       500.       187.
   400.      5000.      4000.       561.       250.       180.
   800.       147.8675 18000.       300.       720.       150.
   330.      2250.       600.      1125.       650.617   6000.
 20000.       374.     19500.      4500.      9000.    ]

In [11]:
del Purchases_2016['Size']

In [14]:
Purchases_2016.to_csv("Purchases_final_2016.csv")